<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit card</title>
</head>
<body>
<div class="card flexBox">
    <div class="card-body">
    <form action="/users/card" method="post">
        <div class="form-group">
            <label for="inputCardNumber">Card Number</label>
            <input type="number" id="inputCardNumber" name="inputCardNumber">
        </div>
        <div class="form-group">
            <label for="inputCardHolder">Card Holder</label>
            <input type="text" id="inputCardHolder" name="inputCardHolder">
        </div>
        <div class="form-group">
            <label for="inputExpireDate">Expiration Date</label>
            <input type="date" id="inputExpireDate" name="inputExpireDate">
        </div>
        <div class="form-group">
            <label for="inputCCV">CCV</label>
            <input type="number" id="inputCCV" name="inputCCV">
        </div>
    </form>
</div>
</div>
    
</body>
</html>