<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Webshop signup</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" BuyBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="mr-2">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
                        </path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>WebShop</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <div class="card flexBox" style="width: 30rem; margin: 2% auto;">
        <div class="card-body">
            <form action="/users/signup" method="post">
                <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" name="inputFirstName" id="inputFirstName"
                        placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" name="inputLastName" id="inputLastName"
                        placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" name="inputAddress" id="inputAddress" placeholder="Address">
                </div>
                <div class="form-group">
                    <label for="inputZipCode">Zip Code</label>
                    <input type="number" class="form-control" name="inputZipCode" id="inputZipCode"
                        placeholder="Zip Code" onfocusout="zipCodeValidation()">
                    <small id="invalidZipCode" class="form-text text-muted "></small>

                </div>
                <div class="form-group">
                    <label for="inputPhoneNumber">Phone Number</label>
                    <input type="number" class="form-control" name="inputPhoneNumber" id="inputPhoneNumber"
                        placeholder="Phone Number" onfocusout="phoneNumberValidation()">
                    <small id="invalidPhoneNumber" class="form-text text-muted "></small>

                </div>
                <div class="form-group">
                    <label for="inputEmail">Email Address</label>
                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email"
                        onfocusout="emailValidation()">
                    <small id="invalidEmail" class="form-text text-muted "></small>


                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" name="inputPassword" id="inputPassword"
                        placeholder="Password">
                </div>
                <a href="/users/login.html" >Already have an account?</a>
                <br>

                <button type="submit" class="btn btn-primary" style="margin: 10px 0 0 0;">Sign up</button>
            </form>


        </div>
    </div>
    <script src="/javascripts/users/signup.js"></script>

</body>

</html>